<div class="inner">
  <div class="container">
    <div class="row">
      <div id="site-description" class="span7">
        <h3><span class="orange">Connect</span> with the<br /> people, places, and events in <br /><span class="blue">your neighborhood</span>.</h3>
        <div id="video-placeholder">Video or image explaining the site</div>
      </div>
      <div id="signup-form" class="span5 gradient">
        <div class="signup-form-inner1">
          <div class="signup-form-inner2">
            <h3>Sign up to Forbes</h3>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div><%= f.text_field :first_name, :placeholder => "First Name", :autofocus => true %></div>
              <div><%= f.text_field :last_name, :placeholder => "Last Name" %></div>
              <div><%= f.email_field :email, :placeholder => "Email" %></div>
              <div><%= f.password_field :password, :placeholder => "Password" %></div>
              <div><%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></div>
              <br />
              <div>
                <%= f.label :gender_male, class: 'radio' do %>
                  <%= f.radio_button :gender, "male" %> Male
                <% end %>
          
                <%= f.label :gender_female, class: 'radio' do %>
                  <%= f.radio_button :gender, "female" %> Female
                <% end %>
              </div>
              <br />
              <div>
                <%= f.label :birthday, "Birthday:" %>
                <%= f.date_select :birthday, 
                  { order: [:month, :day, :year], 
                  start_year: (Time.now.year - 70), 
                  end_year: (Time.now.year - 13) },
                  { class: 'input-small' } 
                %>
              </div>
          </div>
          <div><%= f.submit "Sign up", class: 'homepage-signup btn' %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
