<section id="site_description">
  <h3>Connect with the people, places, and events in your neighborhood.</h3>
  <div id="video_placeholder">Video or image explaining the site</div>
</section>
<section id="signup_container">
  <h3>Sign Up</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div><%= f.text_field :first_name, :placeholder => "First Name", :autofocus => true %></div>
    <div><%= f.text_field :last_name, :placeholder => "Last Name" %></div>
    <div><%= f.email_field :email, :placeholder => "Email" %></div>
    <div><%= f.password_field :password, :placeholder => "Password" %></div>
    <div><%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></div>
    <br />
    <div>
      <%= f.radio_button :gender, "male" %>
      <%= f.label :gender_male, "Male" %>

      <%= f.radio_button :gender, "female" %>
      <%= f.label :gender_female, "Female" %>
    </div>
    <br />
    <div>
      <%= f.label :birthday, "Birthday" %>
      <%= f.date_select :birthday, start_year: (Time.now.year - 70), end_year: (Time.now.year - 13), order: [:month, :day, :year] %>
    </div>
    <br /> 
    <div><%= f.submit "Sign up", class: 'btn' %></div>
    <br />
  <% end %>

  <%= render "devise/shared/links" %>

</section>
