<div class="container">
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span9">
          <%= form_for @user, :html => { :multipart => true } do |f| %>
          <div>
            <%= f.label :first_name %>
            <%= f.text_field :first_name, placeholder: "First Name" %>
          </div>
          <div> 
          <%= f.label :last_name %>
          <%= f.text_field :last_name, placeholder: "Last Name" %>
          </div>  
          <div> 
          <%= f.label :about %>
          <%= f.text_area :about, placeholder: "Say something about yourself", rows: 3 %>
          </div>  
          <div>
            <%= f.radio_button :gender, "male" %>
            <%= f.label :gender_male, "Male" %>
         
            <%= f.radio_button :gender, "female" %>
            <%= f.label :gender_female, "Female" %>
          </div>
         
          <div>
            <%= f.label :birthday %>
            <%= f.date_select :birthday, order: [:month, :day, :year] %>
          </div>  
          <div>
            <span>Profile Picture: </span><%= file_field_tag 'image' %></div>
          <div><%= f.submit "Update Profile" %></div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

