<div class="container">
    <div class="row">
      <div id="cover-fix"></div>
      <section id="main-feed" class="span9">
        <div class="row">
          <div id="identity-share" class="span9">
            <div class="row">
              <div class="identity span3">
                <div class="inner-margin2">
                  <div class="inner-padding8">
                    <%= link_to(image_tag(@user.profile_picture(:small), class: "med-thumbnail"), @user) %>
                    <div class="profile-ident">
                      <%= link_to current_user.full_name, current_user, class: "profile-name" %>
                      <br />
                      <span><%= link_to "edit profile", edit_user_path(@user) if @user == current_user %></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="share offset3 span6">
                <div class="inner-margin2">
                  <div class="inner-padding8">
                    <div id="share-controls">
                      <a href="#"><i class="icon-camera"></i></a><a href="#"><i class="icon-link"></i></a><a href="#"><i class="icon-lock fright"></i></a>
                    </div>
                    <%= form_tag('/posts/') do %>
                      <input id="post_temp_field" name="post[content]" placeholder="Go ahead, share something!" size="30" type="text">
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="sidebar-left" class="span3">
            <div class="block">
              <h5>
                Jump to a neighborhood...
              </h5>
              <ul>
              <% @user.neighborhoods.each do |neighborhood| %>
                <li>
                  <a href="<%= neighborhood_path(neighborhood) %>">
                    <div class="neighborhood-notifications">3</div>
                    <%= neighborhood.name %>
                    <%= '(primary)' if is_primary?(neighborhood) %>
                  </a>
                </li>
              <% end %>
              </ul>
              <a href="/neighborhoods/find" class="white-btn"><i class="icon-circle-arrow-right"></i>Join Another Neightborhood</a>
            </div>
            <div class="block manage">
              <h5>Manage...</h5>
              <ul>
              <li><a href="#"><i class="icon-heart"></i>My Favorites</a></li>
              <li>
                <a href="#"><i class="icon-map-marker"></i>My Places</a>
                <a href="#" class="add"><i class="icon-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-picture"></i>My Photos</a>
                <a href="#" class="add"><i class="icon-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-calendar"></i>My Events</a>
                <a href="#" class="add"><i class="icon-plus"></i></a>
              </li>
              </ul>
            </div>
          </div>
          <div class="span6">
            <hr>
            <div id="neighborhood-feed-filter"><div>Neighborhood Feed <i class="icon-caret-down"></i></div></div>
            <% @posts.each do |post| %>
              <%= render partial: 'posts/post', locals: { post: post } %>
            <% end %>
          </div>
        </div>
      </section>
      <section id="sidebar-right" class="span3">
        <h5>Suggested Friends</h5>
        <ul>
        <% @suggested_friends.each do |person| %>
          <li>
            <%= link_to(image_tag(person.profile_picture(:small), class: "small-thumbnail"), person) %>
            <div class="profile-ident">
              <%= link_to person.full_name, person, class: "profile-name" %>
              <br />
              <p>
                <% neighborhood = person.primary_neighborhood %>
                <%= link_to person.primary_neighborhood.try(:name), neighborhood_path(person.primary_neighborhood) %>
              </p>
            </div>
            <%= link_to "Add", friendships_path(friend_id: person), method: :post, class: "white-btn" %>
          </li>
        <% end %>
        </ul>
      </section>
    </div>
</div>
