<%= form_for @post, url: @submit_post_url do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field(:neighborhood_id, :value =>  @neighborhood.id) if defined? @neighborhood %>
    <%= f.hidden_field(:place_id, :value =>  @place.id) if defined? @place %>
    <%= f.text_field :content, placeholder: "Share something..." %>
  </div>
<% end %>
