<article class="post">
  <div class="inner-margin2">
    <div class="inner-padding8">
      <%= link_to(image_tag(post.user.profile_picture, class: "med-thumbnail"), post.user) %>
      <div class="profile-ident">
        <%= link_to(post.user.full_name, post.user, class: "profile-name") %>
        <br />
        <p>
        <span class="date">
          <%=  post.created_at.strftime("%l:%M %p %m/%d/%y") %>
        </span>
        <br />
        <span class="date">
          <% neighborhood = current_user.neighborhoods.first %>
          <%= link_to neighborhood.name, neighborhood_path(neighborhood) if neighborhood %>
        </span>
        </p>
      </div>
      <% if post.user_id == current_user.id %>
        <%= link_to "edit", get_edit_path(post) %> |
        <%= link_to 'delete', get_delete_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <p><%= post.content %><p>
    </div>
  </div>
</article>
