<header id="neighborhood_header">
  <%= flash[:notice] if flash %>
  <h1><%= @neighborhood.name %></h1>
  <%= link_to "Join Neighborhood", "/neighborhoods/#{@neighborhood.id}/join" unless current_user.neighborhoods.include?(@neighborhood) %>
  <nav>
    <ul>
      <li><%= link_to "Home", "/users/#{current_user.id}/main_feed" %></li>
      <li>People</li>
      <li>Events</li>
      <li>Places</li>
      <li>Gallery</li>
      <li>More</li>
    </ul>
  </nav>
  <% @neighborhood.users.each do |user| %>
    <% if user.has_profile_picture? %>
      <%= link_to(image_tag(user.profile_picture.image.url(:medium)), user) %>
    <% else %>
      <%= link_to(image_tag("missing_profile_picture.png"), user) %>
    <% end %>
  <% end %>
</header>
