<header id="neighborhood_header">
  <h1><%= link_to @neighborhood.name, @neighborhood %></h1>
  <%= link_to "Join Neighborhood", "/neighborhoods/#{@neighborhood.id}/join" unless current_user.neighborhoods.include?(@neighborhood) %>
  <%= link_to("Favorite", "/neighborhoods/#{@neighborhood.id}/add_to_favorites", method: :post) unless already_favorited?(@neighborhood) %>
  <%= link_to("(edit)") if is_owner?(@neighborhood) %>
  <nav>
    <ul>
      <li><%= link_to "Home", "/users/#{current_user.id}/main_feed" %></li>
      <li>People</li>
      <li>Events</li>
      <li><%= link_to "Places", neighborhood_places_path(@neighborhood) %></li>
      <li>Gallery</li>
      <li>More</li>
    </ul>
  </nav>
  <% @neighborhood.users.each do |user| %>
      <%= link_to(image_tag(user.profile_picture(:small), class: "large-thumbnail"), user) %>
  <% end %>
</header>
