<h2>Find Neighborhood</h2>

  <div>
    <%= label_tag :state_id, "State" %><br />
    <%= select_tag( :state_id, 
                    options_from_collection_for_select( State.order(:name), 
                                                        :id, 
                                                        :name), 
                    prompt: "Select a State") %>
  </div>
  <div>
    <%= label_tag :city_id, "City" %><br />
    <%= grouped_collection_select( :neighborhood, :city_id, State.order(:name), 
                                   :cities, :name, :id, :name) %> 
  </div>

  <%= link_to "Create Your Own Neighborhood", new_neighborhood_path, :class => "new_neighborhood_link", remote: true %>

  <div id="neighborhoods"></div>
 
