<header id="neighborhood_header">
  <h1><%= @neighborhood.name %></h1>
  <nav>
    <ul>
      <li><%= link_to "Home", "/users/#{current_user.id}/main_feed" %></li>
      <li>People</li>
      <li>Events</li>
      <li>Places</li>
      <li>Gallery</li>
      <li>More</li>
    </ul>
  </nav>
</header>
<section id="neighborhood_feed">
  <%= render "posts/form" %>
  <%= render @posts %>
</section>
<section id="neighborhood_details">
  <%= image_tag @neighborhood.photos.first.image.url(:medium) unless @neighborhood.photos.empty? %>
</section>
