<%= render "neighborhoods/header" %>
<div class="container">
  <div class="row">
    <section id="place-details" class="span9">
      <h2>
        <i class="icon-map-marker"></i>
        <%= @place.name %>
        <% if is_owner?(@place) %>
          <%= link_to edit_neighborhood_place_path(@neighborhood, @place), class: 'add-btn' do %>
            <i class="icon-pencil"></i>
            Edit Place
          <% end %>
        <% end %>
      </h2> 
        <div class="row">
          <div class="span5 special-padding">
            <div class="bottom-border">
              <span class="category">Category goes here</span><br/>
              <span class="address">
                <strong>
                  <%= @place.street_address %>
                </strong>,
                <%= @place.neighborhood.city.name + ", " + @place.neighborhood.city.state.name + " " + @place.zipcode.to_s   %>
              </span>
              <br/>
              <div class="reviews-ratings">
                <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <a href="#" class="white-btn alt"><i class="icon-star"></i>Rate & Review</a>
              </div>
            </div>
            <div class="bottom-border">
                <div class="place-favorties">
                  <% @favorites.each_with_index do |fav, i| %>
                    <% break if i > 5 %>
                    <%= link_to user_path(fav.user) do %>
                      <%= image_tag fav.user.profile_picture(:small), class: 'med-thumbnail' %>
                    <% end %>
                  <% end %>
                </div>
                <%= pluralize(@favorites.count, 'Favorite') %>
              <%= link_to("Favorite", "#{@place.id}/add_to_favorites", method: :post, class: 'white-btn alt') unless already_favorited?(@place) %>
            </div>
            <div>
              <%= link_to @place.website, "http://www.#{@place.website}", target: "_blank", class: 'blue-bold' %>
            </div>
            <div>
              <p>
                <%= @place.description %>
              </p>
            </div>
          </div>
          <div class="span4 place-pictures">
            <% if @place.photos.any? %>
              <%= image_tag @place.photos.last.image.url(:medium) %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <section class="span9">
          <%= render "posts/form" %>
          <%= render @posts %>
          </section>
        </div>
    </section>
      <section id="place-sidebar" class="span3">
        <div class="block">
          <h2>Similar Places</h2>
          <% @similar_places.each do |place| %>
            <div class="place-teaser">
              <a href="<%= neighborhood_place_path(@neighborhood, place) %>">
              <%= image_tag place.photos.last.image.url(:small) if place.photos.any? %>
              <div class="place-teaser-details">
                <span class="pt-title"><%= place.name %></span><br />
                <span class="stats"><i class='icon-comment'></i> <%= place.posts.count %></span>
                <span class="stats"><i class='icon-heart'></i> <%= place.favorites.count %></span>
              </div>
              </a>
            </div>
          <% end %>
          <a class="white-btn" href="<%= neighborhood_places_path(@neighborhood) %>"><i class="icon-arrow-right"></i>View More Places</a>
        </div>
        <div class="block">
          <h2>Places Your Friends Like</h2>
          <% @similar_places.each do |place| %>
            <div class="place-teaser">
              <a href="<%= neighborhood_place_path(@neighborhood, place) %>">
              <%= image_tag place.photos.last.image.url(:small) if place.photos.any? %>
              <div class="place-teaser-details">
                <span class="pt-title"><%= place.name %></span><br />
                <span class="stats"><i class='icon-comment'></i> <%= place.posts.count %></span>
                <span class="stats"><i class='icon-heart'></i> <%= place.favorites.count %></span>
              </div>
              </a>
            </div>
          <% end %>
          <a class="white-btn" href="<%= neighborhood_places_path(@neighborhood) %>"><i class="icon-arrow-right"></i>View More Places</a>
        </div>
      </section>
      
  </div>
</div>
