<%= render "neighborhoods/header" %>
<div class="container">
  <div class="row">
      <section id="place-details" class="span9">
        <div>
          <p>
            <h2><%= @place.name %></h2> 
            <%= link_to("Favorite", "#{@place.id}/add_to_favorites", method: :post) unless already_favorited?(@place) %>
            <%= link_to "(edit)", edit_neighborhood_place_path(@neighborhood, @place) if is_owner?(@place) %>
          </p>
          <span>
            <strong><%= @place.street_address %></strong>
            <%= @place.neighborhood.city.name + ", " + @place.neighborhood.city.state.name + " " + @place.zipcode.to_s   %>
          </span>
          <p><%= pluralize(@place.favorites.count, 'Favorite') %></p>
          <p><%= link_to @place.website, "http://www.#{@place.website}", target: "_blank" %></p>
        </div>
        <div>
          <%= image_tag @place.photos.last.image.url(:medium) %>
        </div>
      </section>
      <section id="place-sidebar" class="span3">
        place sidebar stuff here.
      </section>
      <section class="span9">
        <%= render "posts/form" %>
        <%= render @posts %>
      </section>
  </div>
</div>