<!DOCTYPE html>
<html>
<head>
  <title>Neighborhoods</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <!-- TODO: put placeholder image here wih link to root path. -->
        <div id="logo" class="span3"><%= link_to "Forbes Logo", root_path %></div>
        <nav id="utility_nav" class="span9">
          <ul>
          <% if user_signed_in? %>
          
            <li>Logged in as <strong><%= current_user.email %></strong>.</li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          
          <% else %>
            <li id="login">
              <a href="#">Log in</a>
            </li>       
          <% end %>
          </ul> 
        </nav>
      </div>
    </div>
  </header>
  <section id="main-content">
    <% if flash[:error] %>
      <p class='error'><%=h flash[:error] %></p>
    <% end -%>
    <% if flash[:notice] %>
      <p class='notice'><%=h flash[:notice] %></p>
    <% end -%>
    <% if flash[:success] %>
      <p class='success'><%=h flash[:success] %></p>
    <% end -%>
    <%= yield %>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="span12">Forbes Footer Info</div>
      </div>
    </div>
  </footer>
  <!-- This form is hidden with css and is used as a template for the login popover -->
  <div id="login_form">
    <%= render "devise/sessions/new" %>
  </div>
</body>
</html>
