<!DOCTYPE html>
<html>
<head>
  <title>Neighborhoods</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:200|Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="<% if user_signed_in? %>small<% end %>">
    <div class="container">
      <div class="row">
        <div id="logo" class="span3">
          <%= link_to image_tag("placeholder-logo.png", border: 0), root_path %>
        </div>
        <nav class="span9">
          <div class="navbar">
            <ul class="nav pull-right">
            <% if user_signed_in? %>
              <% unless current_user.neighborhoods.empty? %>
                <li><a href="/"><i class="icon-home"></i></a></li>
                <li><a href="#"><i class="icon-bullhorn"></i></a></li>
                <li class="dropdown logged">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= image_tag(current_user.profile_picture(:small), class: "mini-thumbnail") %> <%= current_user.full_name %></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><%= link_to current_user.full_name, current_user %></li>
                    <li><%= link_to 'Edit profile', edit_user_path(current_user) %></li>
                    <% current_user.neighborhoods.each do |nh| %>
                      <li><%= link_to nh.name, neighborhood_path(nh) %></li>
                    <% end %>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
              <% end %>
            <% else %>
              <li class="dropdown home">
                <a id="login" class="dropdown-toggle" data-toggle="dropdown" href="#">Log in</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <div class="inner-padding10">
                    <%= render "devise/sessions/new" %>
                  </div>
                </ul>
              </li>
            <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <section id="main-content">
    <div class="container no-padding">
    <% if flash[:error] %>
      <p class='alert alert-error'><%=h flash[:error] %><a class="close" data-dismiss="alert" href="#">&times;</a></p>
    <% end -%>
    <% if flash[:notice] %>
      <p class='alert alert-info'><%=h flash[:notice] %><a class="close" data-dismiss="alert" href="#">&times;</a></p>
    <% end -%>
    <% if flash[:success] %>
      <p class='alert alert-success'><%=h flash[:success] %><a class="close" data-dismiss="alert" href="#">&times;</a></p>
    <% end -%>
    </div>
    <%= yield %>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="span12">Forbes Footer Info</div>
      </div>
    </div>
  </footer>
</body>
</html>
